<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Messages</title>
</head>
<body>
    <h1>Submit a message</h1>
    <form action="/" method="post">
        <label for="message">Message:</label>
        <textarea name="message" id="message"></textarea>
        <br>
        <hr>
        <input type="submit" value="submit">
    </form>
    {% if message %}
    <h2>Messages</h2>
    <ol>
        {% for m in message %}
        <li>{{ m }}</li>
        {% endfor %}
    </ol>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul class="flash">
        {% for category, mes in messages %}
        <li class="flash {{ category }}">
            {{ mes }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>